.navbar-brand {
    size: 25px;
  }

.navbar-default .navbar-nav>li>a {
    background: aqua;
}

body {
    font-size: 30px;
}

#main-content {
    border: 2px solid #3F0C1F;
    background-color:antiquewhite;
    height: 1000px;
    width: fit-content;
}

#main-content p{
    font-size: 15px;
}